<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<select id="selectListCount"
			resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       KH_BOARD
		 WHERE
		       STATUS = 'Y'
		   AND
		       BOARD_TYPE = 1
	</select>
	
	<!-- ??? 12:16 offset, boardLimit을 가져왔기 때문에
	
	카테고리를 들고갈건데, 실제로 테이블에 들어있는 것은 숫자
	화면상에 띄워줄때는 카테고리 이름을 띄워줄것임
	조인해야한다
	
	보드 테이블 작성자에 USER_NO가 들어있음(PK)
	출력할 때 1 보여주긴 그러니까 조회해갈 때 MEMBER테이블에 있는 USER_NAME을 들고가자
	이것도 조인해야함
	
	컨텐트는 없어도 되겠다, 이건 상세조회 할 때 할거니까
	ANSI구문, USING과 ON의 차이, 컬럼명 동일하면 using, 다르면 on으로 작성
	나중에 게시글 삭제기능 구현할건데 DELETE 안하고 STATUS 컬럼값 바꿀것임
	삭제되지 않은것만 조회되게 해야함 -> WHERE
	게시판 타입이 있음, 지금 일반게시판에 쓴것만 조회해야하니까 AND로 조건 추가
	SELECT 하는데 정렬 안해주니까 ORDER BY 추가
	30개 내림차순 상태니까 특정 개수만큼 들고가기 위해서 OFFSET 추가
	pi에 값을 담아왔음, 그거 뽑으려면 #{}
	
	member, board에도 status가 있어서 겹치므로 수정 -> KH_BOARD.STATUS = 'Y' (열의 정의가 애매)
	컬럼 별칭 없으면 매핑 안되니까 별칭 추가해야함, 변수명과 일치하는지 확인
	-->
	<select id="selectBoardList"
			parameterType="com.kh.java.common.vo.PageInfo"
			resultType="com.kh.java.board.model.vo.Board">
		SELECT
		       BOARD_NO boardNo
		     , CATEGORY_NAME category
		     , USER_NAME boardWriter
		     , BOARD_TITLE boardTitle
		     , CREATE_DATE createDate
		     , COUNT
		  FROM
		       KH_BOARD
		  JOIN
		       KH_CATEGORY USING (CATEGORY_NO)
		  JOIN
		       KH_MEMBER ON (BOARD_WRITER = USER_NO)
		 WHERE
		       KH_BOARD.STATUS = 'Y'
		   AND
		       BOARD_TYPE = 1
		 ORDER
		    BY
		       BOARD_NO DESC
		OFFSET #{offset} ROWS FETCH NEXT #{boardLimit} ROWS ONLY
	</select>
	
	<select id="selectCategory"
			resultType="com.kh.java.board.model.vo.Category">
		SELECT
		       CATEGORY_NO categoryNo
		     , CATEGORY_NAME categoryName
		  FROM
		       KH_CATEGORY
		 ORDER
		    BY
		       CATEGORY_NO ASC
	</select>
	
	<insert id="insertBoard1"
			parameterType="com.kh.java.board.model.vo.Board">
		INSERT
		  INTO
		       KH_BOARD
		       (
		       BOARD_NO
		     , BOARD_TYPE
		     , CATEGORY_NO
		     , BOARD_TITLE
		     , BOARD_CONTENT
		     , BOARD_WRITER
		       )
		VALUES
		       (
		       SEQ_BNO.NEXTVAL
		     , 1
		     , #{category}
		     , #{boardTitle}
		     , #{boardContent}
		     , #{boardWriter}
		       )
	</insert>
	
	<insert id="insertAttachment1"
			parameterType="com.kh.java.board.model.vo.Attachment">
		INSERT
		  INTO
		       KH_ATTACHMENT
		       (
		       FILE_NO
		     , REF_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		       )
		VALUES
		       (
		       SEQ_FNO.NEXTVAL
		     , SEQ_BNO.CURRVAL
		     , #{originName}
		     , #{changeName}
		     , #{filePath}
		       )
	</insert>
	
	<!--
		selectKey
		
		게시글 + 첨부파일 INSERT
		주문 + 주문상세 INSERT
		회원 + 권한 INSERT
		등 여러 테이블 연관관계, 자식-부모관계에서 외래키 사용할때 등에서 무조건 사용
		이게 마이바티스 사용하는 업계 표준(currval보다 이것을 쓴다) 
	-->
	
	<insert id="insertBoard"
			parameterType="com.kh.java.board.model.vo.Board">
		<selectKey resultType="long" keyProperty="boardNo"
				   order="BEFORE">
			SELECT SEQ_BNO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT
		  INTO
		       KH_BOARD
		       (
		       BOARD_NO
		     , BOARD_TYPE
		     , CATEGORY_NO
		     , BOARD_TITLE
		     , BOARD_CONTENT
		     , BOARD_WRITER
		       )
		VALUES
		       (
		       #{boardNo}
		     , 1
		     , #{category}
		     , #{boardTitle}
		     , #{boardContent}
		     , #{boardWriter}
		       )
	</insert>
	
	<insert id="insertAttachment"
			parameterType="com.kh.java.board.model.vo.Attachment">
		INSERT
		  INTO
		       KH_ATTACHMENT
		       (
		       FILE_NO
		     , REF_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		       )
		VALUES
		       (
		       SEQ_FNO.NEXTVAL
		     , #{refBno}
		     , #{originName}
		     , #{changeName}
		     , #{filePath}
		       )
	</insert>

</mapper>