<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<!-- ??? 16:10 select 태그에 필요한 속성값 3개
	이름 너무 긴거 처리할 방법 생각 -->
	<select id="login"
			resultType="com.kh.java.member.model.vo.Member"
			parameterType="com.kh.java.member.model.vo.Member">
		SELECT
		       USER_NO userNo
		     , USER_ID userId
		     , USER_PWD userPwd
		     , USER_NAME userName
		     , EMAIL
		     , ENROLL_DATE enrollDate
		     , MODIFY_DATE modifyDate
		     , STATUS
		  FROM
		       KH_MEMBER
		 WHERE
		       USER_ID = #{userId}
		   AND
		       USER_PWD = #{userPwd}
		   AND
		       STATUS = 'Y'
	</select>
	<!-- 필드명에 맞춰서 컬럼명 옆에 별칭달아줌 -->
	<!-- 탈퇴 구현을 실제로 삭제하는게 아니라 상태 구분으로 해놓을거라 로그인은 탈퇴아닌 사람만 하기 위한 조건도 추가해서 작성 -->
	<!-- 로그인 절차가 어렵고 구현은 어렵지 않다, 바뀌는건 WHERE 조건정도? -->
	
	<!-- 태그 속성 두개 필요, id 속성값은 메소드명과 똑같이 쓰기로 했음
	두번째 속성은 마이바티스가 알아서 잘 해주겠지만 일단 작성해주자 -->
	<insert id="signUp"
			parameterType="com.kh.java.member.model.vo.Member">
		INSERT
		  INTO
		       KH_MEMBER
		       (
		       USER_NO
		     , USER_ID
		     , USER_PWD
		     , USER_NAME
		     , EMAIL
		       )
		VALUES
		       (
		       KH_UNO.NEXTVAL
		     , #{userId}
		     , #{userPwd}
		     , #{userName}
		     , #{email}
		       )
	</insert>
	
	<!-- 태그명, ID 확정, SET 하고 뭘 써야하나? 대입연산자 ㅎㅎ
	근데 map에 담아 온 것이 userName, email 뿐이라 이상태에서는 전체 값이 바뀌어버린다
	각 행을 식별할 무언가가 있어야함, 지금 없음... 어디까지 돌아가야해? -->
	<!-- 파라미터 전달 안하고 잘 수행되는지 확인해보자, 적어주는게 좋은데 안적어도 잘 되는지 확인해보기 -->
	<update id="update">
		UPDATE
		       KH_MEMBER
		   SET
		       USER_NAME = #{userName}
		     , EMAIL = #{email}
		     , MODIFY_DATE = SYSDATE
		 WHERE
		       USER_NO = #{userNo}
		   AND
		       STATUS = 'Y'
	</update>
	
</mapper>